.title {
  font-size: 20px;
  font-weight: bold;
}
.sub-title {
  font-size: 18px;
  font-weight: bold;
}

.sub-menu-list li {
  font-size: 14px;
  margin: 10px 0;
}

.sub-menu-list li a {
  font-size: 14px;
  text-decoration: underline;
}
.search-box,
.filter-box {
  margin-bottom: 20px;
}
.search-box .title {
  margin-bottom: 10px;
}
.filter-box ul {
  padding-left: 20px;
}
.filter-box li {
  margin: 10px 0;
}